<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A281</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Email Message</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.mail.email</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Mail Message</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.mail.emlx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Mail Message Part</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.mail.emlx.part</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>mailbox.icns</string>
			<key>CFBundleTypeName</key>
			<string>Mail Mailbox</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.mail.mbox</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>mailbox.icns</string>
			<key>CFBundleTypeName</key>
			<string>Mail Cached IMAP Mailbox</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.mail.imapmbox</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>mailbox.icns</string>
			<key>CFBundleTypeName</key>
			<string>Mail Cached Exchange Web Services Mailbox</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.mail.ewsmbox</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Mail Stationery</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.mail.stationery</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Mail</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Mail.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.Mail.help</string>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.mail</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Mail</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>9.0</string>
	<key>CFBundleSignature</key>
	<string>emal</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Email Address URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mailto</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Email Message Storage URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>message</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3094</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7A176g</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15A281</string>
	<key>DTSDKName</key>
	<string>macosx10.11internal</string>
	<key>DTXcode</key>
	<string>0700</string>
	<key>DTXcodeBuild</key>
	<string>7A176g</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>MailLinkSupported</key>
	<true/>
	<key>MailPageSupported</key>
	<true/>
	<key>MailSharingSupported</key>
	<true/>
	<key>MailURLShareSupported</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>MailApp</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Mail/New Email With Selection</string>
			</dict>
			<key>NSMessage</key>
			<string>mailSelection</string>
			<key>NSPortName</key>
			<string>Mail</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
				<string>Apple Web Archive pasteboard type</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Mail/New Email To Address</string>
			</dict>
			<key>NSMessage</key>
			<string>mailTo</string>
			<key>NSPortName</key>
			<string>Mail</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.apple.mail.compose</string>
		<string>com.apple.mail.message</string>
	</array>
	<key>OSAScriptingDefinition</key>
	<string>Mail.sdef</string>
	<key>PluginCompatibilityUUID</key>
	<string>AB695A2B-4605-4A74-A99F-AF9F9C92C41B</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.email-message</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Email Message</string>
			<key>UTTypeIconFile</key>
			<string>document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.mail.email</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>eml</string>
				<key>public.mime-type</key>
				<string>message/rfc822</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.email-message</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mail Message</string>
			<key>UTTypeIconFile</key>
			<string>document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.mail.emlx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>EMLX</string>
				<key>public.filename-extension</key>
				<string>emlx</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mail Message Part</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.mail.emlx.part</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>emlxpart</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mail Mailbox</string>
			<key>UTTypeIconFile</key>
			<string>mailbox.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.mail.mbox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>mbox</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mail Cached IMAP Mailbox</string>
			<key>UTTypeIconFile</key>
			<string>mailbox.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.mail.imapmbox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>imapmbox</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mail Cached Exchange Web Services Mailbox</string>
			<key>UTTypeIconFile</key>
			<string>mailbox.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.mail.ewsmbox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>ewsmbox</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mail Stationery</string>
			<key>UTTypeIconFile</key>
			<string>document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.mail.stationery</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>mailstationery</string>
			</dict>
		</dict>
	</array>
	<key>com.apple.PreferenceSync.ExcludeSyncKeys</key>
	<array>
		<string>ActiveViewers</string>
		<string>DeliveryAccounts</string>
		<string>DeliveryAccountsBackup</string>
		<string>MailAccounts</string>
		<string>NotesSyncHaveUnsyncedChanges</string>
		<string>NotesSyncClientHasUpgradedForNoteID</string>
		<string>TableColumns</string>
		<string>AccountsVersion</string>
		<string>TigerImportDone</string>
		<string>StoreNotesInInboxIsDiscovered</string>
		<string>UnsyncedChangesDefaultsKey</string>
		<string>HasSetupIndexingDefaults</string>
		<string>CheckedForOldLSMMapFile</string>
		<string>BundleCompatibilityVersion</string>
		<string>Favorites</string>
	</array>
</dict>
</plist>
